{% extends '_base.html' %}

{% block title %} {{env.python_path}} {% endblock %}

{% block content %}

<h1>Packages</h1>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Version</th>
    </tr>
    {% for package in env.packages %}
    <tr>
        <td><a href="{{package.name}}">{{package.name}}</a></td>
        <td>{{package.version}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}