{% extends '_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<table class="table table-striped">
    <tr>
        <th>Interpereter Path</th>
        <th>Version</th>
        <th>Packages</th>
    </tr>
    {% for env in environments %}
    <tr>
        <td><a href="env/{{forloop.counter}}"> {{ env.python_path }} </a></td>
        <td>{{ env.version }}</td>
        <td>{{ env.packages | length }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}