{% extends '_base.html' %}

{% block title %} {{package_name}} {% endblock title %}

{% block content %}

{% csrf_token %}

<h1>Package Info</h1>

<div class="" id="app">

    <table class="table table-striped">
        <tr>
            <td>Package Name</td>
            <td>{{package_name}}</td>
        </tr>
        <tr>
            <td>Current Version</td>
            <td>{{current_version}}</td>
        </tr>
    </table>

    <h2>Available Versions</h2>

    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>Version</th>
                <th>Release Date</th>
                <th>Install</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(version_data, version, index) in versions">
                <td>[[version]]</td>
                <td><span v-if="version_data[0]">[[version_data[0].upload_time]]</span></td>
                <td v-if="version!=current_version && !buttons[version]['loading']"><button v-bind:id="[[version]]" class="btn btn-primary" v-on:click="replace($event)">Install</button></td>
                <td v-if="version!=current_version && buttons[version]['loading']"><button v-bind:id="[[version]]" class="btn btn-primary" v-on:click="replace($event)"><spinner></spinner></button></td>
                <td v-if="version==current_version"><button v-bind:id="[[version]]" class="btn btn-primary" v-on:click="remove($event)">Uninstall</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- {% load static %} -->
<!-- <script src="{% static 'env_manager/package.js' %}"></script> -->
<script type="application/javascript">
    Vue.component('spinner', {
        template: `<div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>`
    })
    var app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            versions: JSON.parse("{{versions|escapejs}}"),
            package_name: "{{package_name}}",
            current_version: "{{current_version}}",
            buttons: {}
        },
        created: function (){
            for (version in this.versions){
                this.buttons[version] = {}
                this.buttons[version]["loading"] = false
            }
        },
        methods: {
            replace: function(e) {
                var csrftoken = getCookie('csrftoken')
                var version = e.target.id
                app.buttons[version]["loading"] = true
                app.$forceUpdate()
                $.ajax({
                    method: 'POST',
                    url: this.package_name + '/' + version + '/replace',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function() {
                        app.current_version = version
                        app.buttons[version]["loading"] = false
                    },
                    failure: function() {
                    }
                });
                //window.location.reload(true)
            },
            remove: function(e) {
                var csrftoken = getCookie('csrftoken')
                var old_value = this.innerHTML
                var version = this.id
                app.versions[version][0]["loading"] = true
                $.ajax({
                    method: 'POST',
                    url: this.package_name + '/' + version + '/remove',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function() {
                        alert("Success")
                        this.current_version = version
                    },
                    failture: function() {
                        alert("Failure")
                    }
                });
                this.innerHTML = old_value
            }
        }
    })

    $(document).ready(function() {
        $('#table').DataTable();
    } );

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
        }
        return "";
    }

    function remove(button, package_name, version){
        var csrftoken = getCookie('csrftoken')
        var old_value = app["btn_" + version].text
        app["btn_" + version].text = `
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only"></span>
        `;
        $.ajax({
            method: 'POST',
            url: package_name + '/' + version + '/remove',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function() {
                alert("Success")
            },
            failture: function() {
                alert("Failure")
            }
        });
        app["btn_" + version].text = old_value
    }

    function replace(button, package_name, version){
        
    }
</script>

{% endblock %}